<section class="header-site grid align-center-middle">
  <div class="container grid-x-no align-justify align-middle">
    <div class="navbar grid-x-no align-middle">
      <a href="/">
        <img src="/img/logo/Home.png" alt="Home">
      </a>
      <a href="/websites">وب سایت</a>
      <a href="/applications">اپلیکیشن</a>
      <a href="/seo">سئو (بهینه سازی)</a>
      <a href="/blog">وبلاگ</a>
      <a href="/about">درباره ما</a>
      <a href="/contact">تماس با ما</a>
    </div>
    <div class="mobile-icon" id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="logo">
      <a href="/"><span><%= siteInfo.nameEn %></span></a>
    </div>
  </div>
</section>
<section class="mobile-nav">
  <ul role="tablist">
    <li><a href="/">صفحه نخست</a></li>
    <li><a href="/websites">وب سایت</a></li>
    <li><a href="/applications">اپلیکیشن</a></li>
    <li><a href="/seo">سئو (بهینه سازی)</a></li>
    <li><a href="/blog">وبلاگ</a></li>
    <li><a href="/about">درباره ما</a></li>
    <li><a href="/contact">تماس با ما</a></li>
  </ul>
</section>