<%- contentFor('panel-header') %>
<a class="active grid-x-no align-middle">
  <i class="fas fa-cog"></i>
  <span>تنظیمات سایت</span>
</a>
<i class="arrow far fa-angle-left"></i>
<a href="/admin/site-setting/pages" class="grid-x-no align-middle">
  <i class="fal fa-tv"></i>
  <span>صفحات سایت</span>
</a>
<%- contentFor('body') %>
<div class="site-pages w100 grid align-center">
  <div class="container grid-x">
    <a href="/admin/site-setting/pages/home">
      <div class="page-box grid align-center-middle">
        <h4>صفحه اصلی</h4>
      </div>
    </a>
    <a href="/admin/site-setting/pages/contact">
      <div class="page-box grid align-center-middle">
        <h4>تماس با ما</h4>
      </div>
    </a>
  </div>
</div>




