<%- contentFor('panel-header') %>
<a href="/admin/dashboard" class="active grid-x-no align-middle">
  <i class="fas fa-tachometer"></i>
  <span class="name">داشبورد</span>
</a>
<%- contentFor('body') %>
<div class="dashboard w100 grid align-center">
  <div class="container grid-x">
    <div class="page-box grid-y align-center-middle">
      <h4 class="mb-1">تعداد بازدید سایت</h4>
      <span class="count">100</span>
    </div>
    <a href="/admin/messages">
      <div class="page-box grid-y align-center-middle">
        <h4 class="mb-1">تعداد پیام ها</h4>
        <span class="count"><%= messages.length %></span>
      </div>
    </a>
  </div>
</div>