<%- contentFor('panel-header') %>
<a href="/admin/dashboard" class="active grid-x-no align-middle">
  <i class="fas fa-tachometer"></i>
  <span class="name">داشبورد</span>
</a>
<!-- <i class="arrow far fa-angle-left"></i> -->
