<nav class="sidebar">
  <div class="overlay-1">
    <div class="grid-y">
      <div class="row brand grid-x-no align-justify align-middle">
        <a href="/">
          <img src="/img/artakhe-logo.png" alt="Artakhe">
        </a>
        <span>Diata</span>
      </div>
      <div class="line-space"></div>
      <div class="row user coll-tab grid-x-no align-middle">
        <div class="photo grid align-center-middle">
          <img src="/img/IMG_6456.JPG" alt="Hossein Akbari">
        </div>
        <span class="user-info">حسین اکبری</span>
        <div class="caret"></div>
      </div>
      <div class="collapse userColl">
        <a class="row grid-x-no align-middle">
          <i class="fas fa-user"></i>
          <span>پروفایل</span>
        </a>
        <a class="row grid-x-no align-middle">
          <i class="fas fa-user-edit"></i>
          <span>تغییر پروفایل</span>
        </a>
        <a href="/admin/logout" class="row grid-x-no align-middle">
          <i class="far fa-sign-out"></i>
          <span>خروج</span>
        </a>
      </div>
      <div class="line-space"></div>
      <div class="navbar">
        <a href="/admin/dashboard" class="row dashbaord grid-x-no align-middle">
          <i class="fas fa-tachometer"></i>
          <span>داشبورد</span>
        </a>
        <div class="row siteSetings coll-tab grid-x-no align-middle">
          <i class="fas fa-archive"></i>
          <span>تنظیمات سایت</span>
          <div class="caret"></div>
        </div>
        <div class="collapse archiveColl">
          <a href="/admin/" class="row call-us grid-x-no align-middle">
            <i class="fas fa-home"></i>
            <span>صفحه نخست</span>
          </a>
           <a href="/admin/website" class="row call-us grid-x-no align-middle">
            <i class="fas fa-home"></i>
            <span>وب سایت</span>
          </a>
           <a href="/admin/application" class="row call-us grid-x-no align-middle">
            <i class="fas fa-home"></i>
            <span>اپلیکشن</span>
          </a>
          <a href="/admin/contnet" class="row call-us grid-x-no align-middle">
            <i class="fas fa-phone-square"></i>
            <span>تماس با ما</span>
          </a>
          <a href="/admin/about" class="row call-us grid-x-no align-middle">
            <i class="fas fa-users"></i>
            <span>درباره ما</span>
          </a>
        </div>
        <a href="/admin/messages" class="row messages grid-x-no align-middle">
          <i class="fas fa-envelope"></i>
          <span>پیام های دریافتی</span>
        </a>
      </div>
    </div>
  </div>
</nav>
