<nav class="sidebar">
  <div class="overlay-1">
    <div class="grid-y">
      <div class="row brand grid-x-no align-justify align-middle">
        <img src="/img/artakhe-logo.png" alt="Artakhe">
        <span>Artakhe</span>
      </div>
      <div class="line-space"></div>
      <div class="row user coll-tab grid-x-no align-middle">
        <div class="photo grid align-center-middle">
          <img src="/img/IMG_6456.JPG" alt="Hossein Akbari">
        </div>
        <span class="user-info">حسین اکبری</span>
        <div class="caret"></div>
      </div>
      <div class="collapse userColl">
        <a class="row grid-x-no align-middle">
          <i class="fas fa-user"></i>
          <span>پروفایل</span>
        </a>
        <a class="row grid-x-no align-middle">
          <i class="fas fa-user-edit"></i>
          <span>تغییر پروفایل</span>
        </a>
        <a class="row grid-x-no align-middle">
          <i class="fas fa-cog"></i>
          <span>تنظیمات</span>
        </a>
      </div>
      <div class="line-space"></div>
      <div class="navbar">
        <div class="row dashbaord grid-x-no align-middle">
          <i class="fas fa-tachometer"></i>
          <span>داشبورد</span>
        </div>
        <div class="row archive coll-tab grid-x-no align-middle">
          <i class="fas fa-archive"></i>
          <span>آرشیو</span>
          <div class="caret"></div>
        </div>
        <div class="collapse archiveColl">
          <a class="row grid-x-no align-middle">
            <i class="fas fa-user"></i>
            <span>پروفایل</span>
          </a>
          <a class="row grid-x-no align-middle">
            <i class="fas fa-user-edit"></i>
            <span>تغییر پروفایل</span>
          </a>
          <a class="row grid-x-no align-middle">
            <i class="fas fa-cog"></i>
            <span>تنظیمات</span>
          </a>
      </div>
      </div>
    </div>
  </div>
</nav>
