<canvas class="error-page page404"></canvas>
<section class="page-not-found grid align-center-middle">
  <div class="wrap grid-y">
    <h4>صفحه مورد نظر یافت نشد</h4>
    <div class="btn-wrap grid-x align-middle">
      <a href="/" class="grid align-center-middle">
        <span>بازگشت به خانه</span>
      </a>
      <a href="/" class="grid align-center-middle">
        <span>تماس با ما</span>
      </a>
    </div>
  </div>
</section>