<canvas class="error-page page500"></canvas>
<section class="page-server-error grid align-center-middle">
  <div class="grid-y">
    <h4>500</h4>
    <p>Internet Server Error</p>
    <a href="/" type="submit" class="btn btn-outline-secondary grid align-center-middle">
      <span>HOME</span>
    </a>
  </div>
</section>