<section class="error-stack grid align-center-middle">
  <div class="container grid-y">
    <div class="row grid-x-no align-middle"> 
      <h6>Error Message</h6>
      <p class="message"><</p>
    </div>
    <div class="row grid-x-no align-middle">
      <h6>Status Code : </h6>
      <p class="statusCode"></p>
    </div>
    <pre>
      <code class="html stack">
        
      </code>
    </pre>
  </div>
  <script>
    $('.message').text(window.localStorage.getItem('message'));
    $('.statusCode').text(window.localStorage.getItem('statusCode'));
    $('.stack').text(window.localStorage.getItem('stack'));
    window.localStorage.removeItem('message');
    window.localStorage.removeItem('statusCode');
    window.localStorage.removeItem('stack');
  </script>
</section>
<link rel="stylesheet" href="/plugin/higllight/darcula.css">
<script src="/plugin/higllight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>