<%- include(viewPath('home/layout/header'))  %>
<section class="contact-page grid-y">
  <header>
    <div class="overlay"></div>
  </header>
  <div class="contact grid align-center">
    <div class="contact-wrap grid-x">
      <div class="call-us">
        <div class="wrap100 header grid align-middle">
          <h6>نظرات خود را با ما در میان بگذارید</h6>
        </div>
        <content class="wrap100 grid-y">
          <form action="/contact" method="POST">
            <div class="row grid-x align-middle align-justify">
              <input type="text" name="fullName" placeholder="نام">
              <input type="text" name="email" placeholder="ایمیل">
            </div>
            <div class="row grid-x align-middle align-justify">
              <input type="text" name="subject" placeholder="موضوع" maxlength="30">
            </div>
            <div class="row grid-x align-middle align-justify">
              <textarea name="description" cols="30" rows="10" placeholder="توضیحات"></textarea>
            </div>
            <div class="row grid align-left">
              <%- recaptcha %>
            </div>
            <div class="row grid-x align-middle align-justify">
              <button class="btn btn-primary grid align-center-middle" type="submit">
                <span>ارسال</span>
              </button>
            </div>
          </form>
        </content>
      </div>
      <div class="info-us grid-y">
        <div class="wrap100 header grid align-middle">
          <h6>راه های تماس با ما</h6>
        </div>
        <content class="wrap100 grid-y">
          <div class="row grid-x-no">
            <i class="fas fa-map-marker-alt"></i>
            <span>تهران ، خیابان جمهوری ، ساختمان آلومینیوم</span>
          </div>
          <div class="row grid-x-no">
            <i class="fas fa-envelope-open"></i>
            <span>info@diataco.com</span>
          </div>
          <div class="row grid-x-no">
            <i class="fas fa-phone-square"></i>
            <span>+21884425</span>
          </div>
        </content>
      </div>
    </div>
  </div>
  
</section>

<%- include(viewPath('home/layout/footer')) %>


