<link rel="stylesheet" href="/plugin/home/homeSlider/css/homeSlider.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/plugin/home/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/plugin/home/owlcarousel/owl.theme.default.min.css">
<%- include(viewPath('home/layout/header'))  %>
<section class="homeSlider grid align-center-middle">
    <div class="grid align-center-middle">
    <div class="align-center-middle item-1">
        <i class="fa fa-desktop-alt"></i>
        <h3>اگر میخواهید یک وب سایت معمولی داشته باشید، ما اصلاً گزینه خوبی نیستیم!</h3><br>
 </div>
    <div class="align-center-middle item-2">
    <i class="fal fa-mobile"></i>
    <h3>اگر میخواهید یک وب سایت معمولی داشته باشید، ما اصلاً گزینه خوبی نیستیم!</h3><br>
</div>
    <div class="align-center-middle item-3">
    <i class="fab fa-google"></i>
    <h3>اگر میخواهید یک وب سایت معمولی داشته باشید، ما اصلاً گزینه خوبی نیستیم!</h3><br>
</div>
  </div>
</section>
<section class="wrapper aboutUs grid align-center">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="wrap grid align-center align-middle grid-y">
            <img class="logo" src="/img/artakhe-logo.png">
            <h3>اگر میخواهید یک وب سایت معمولی داشته باشید، ما اصلاً گزینه خوبی نیستیم!</h3>
            <p class="align-center">وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین
                سلیقه آنان طراحی و پیاده سازی کنیم. ما تمامی ساعات حضور در دفتر کوچکمان را با عشق و علاقه سپری میکنیم تا
                مشتریان ما در استفاده از وب سایت خود تجربه بهتری داشته باشند.</p>
            <img src="/img/home-1.png">
        </div>
    </div>
</section>
<section class="wrapper ability grid-y align-center-middle">
    <div class="container" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section">
            <h3>خدمات</h3>
        </div>
        <div class="ability-wrap grid-x align-around">
        <div class="item grid-x-no">
            <i class="fal fa-sliders-h"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fal fa-mobile"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fab fa-react"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fab fa-node-js"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fal fa-rocket"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        <div class="item grid-x-no">
            <i class="fal fa-recycle"></i>
            <div class="content">
                <h4>بهترین ایده</h4>
                <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                    و پیاده سازی کنیم.
                </p>
            </div>
        </div>
        </div>
    </div>
    
</section>
<section class="parallax para1">
    <div class="overlay grid-y align-center-middle" >
        <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> به وب سایت ما خوش آمدید</h4>
        <p data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی و پیاده
            سازی کنیم</p>
    </div>
</section>
<section class="wrapper products-tab grid align-center-middle ">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section grid align-center-middle">
            <h3>نمونه کار های شرکت ما</h3>
        </div>
        <div class="tab-nav grid align-center-middle ">
            <ul role="tablist" class="tabnav-items grid-x-no">
                <li class="tabnav-item grid align-center-middle">
                    <span href="#" class="tabnav-link active">وب سایت</span>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <span class="tabnav-link">اپلیکشن</soan>
                </li>
                <li class="tabnav-item grid align-center-middle">
                    <span href="#" class="tabnav-link">بهینه سازی</span>
                </li>
            </ul>
        </div>
        <div class="tab-content container">
            <div class="tab-content-wrap active">
                <div class="product-wrap grid-x align-around">
                    <div class="owl-carousel owl-theme">
                        <div class="item card">
                            <img src="/img/sample-card.jpg">
                            <div class="info">
                            <h3>نام پروژه</h3>
                            <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                            <button>لینک وبسایت</button>
                            <button>جزییات</button>
                            </div>
                        </div>
                        <div class="item card">
                            <img src="/img/sample-card.jpg">
                            <div class="info">
                            <h3>نام پروژه</h3>
                            <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                            <button>لینک وبسایت</button>
                            <button>جزییات</button>
                            </div>
                        </div>
                        <div class="item card">
                            <img src="/img/sample-card.jpg">
                            <div class="info">
                            <h3>نام پروژه</h3>
                            <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                            <button>لینک وبسایت</button>
                            <button>جزییات</button>
                            </div>
                        </div>
                        <div class="item card">
                            <img src="/img/sample-card.jpg">
                            <div class="info">
                            <h3>نام پروژه</h3>
                            <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                            <button>لینک وبسایت</button>
                            <button>جزییات</button>
                            </div>
                        </div>
                        <div class="item card">
                            <img src="/img/sample-card.jpg">
                            <div class="info">
                            <h3>نام پروژه</h3>
                            <p>خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه خلاصه پروژه</p>
                            <button>لینک وبسایت</button>
                            <button>جزییات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="tab-content-wrap">اپلیکشن ها</h4>
            <h4 class="tab-content-wrap">بهینه سازی</h4>
        </div>
    </div>
</section>
<section class="wrapper news align-center-middle grid-y parallax">
    <div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="header-section">
            <h3>خبرنامه شرکت ما</h3>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item blog-card spring-fever">
                <div class="title-content">
                    <h3>تیتر خبر</h3>
                    <hr/>
                    <div class="intro">خلاصه اولیه خبر</div>
                </div>
                <div class="card-info">
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                </div>
                <div class="utility-info">
                    <ul class="utility-list">
                        <li><i class="fal fa-calendar"></i>03.12.2015</li>
                        <li><i class="fal fa-comment"></i>12</li>
                    </ul>
                </div>
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
            <div class="item blog-card spring-fever">
                <div class="title-content">
                    <h3>تیتر خبر</h3>
                    <hr/>
                    <div class="intro">خلاصه اولیه خبر</div>
                </div>
                <div class="card-info">
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                </div>
                <div class="utility-info">
                    <ul class="utility-list">
                        <li><i class="fal fa-calendar"></i>03.12.2015</li>
                        <li><i class="fal fa-comment"></i>12</li>
                    </ul>
                </div>
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
            <div class="item blog-card spring-fever">
                <div class="title-content">
                    <h3>تیتر خبر</h3>
                    <hr/>
                    <div class="intro">خلاصه اولیه خبر</div>
                </div>
                <div class="card-info">
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                </div>
                <div class="utility-info">
                    <ul class="utility-list">
                        <li><i class="fal fa-calendar"></i>03.12.2015</li>
                        <li><i class="fal fa-comment"></i>12</li>
                    </ul>
                </div>
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
            <div class="item blog-card spring-fever">
                <div class="title-content">
                    <h3>تیتر خبر</h3>
                    <hr/>
                    <div class="intro">خلاصه اولیه خبر</div>
                </div>
                <div class="card-info">
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                    توضیحات کوتاه خبر
                </div>
                <div class="utility-info">
                    <ul class="utility-list">
                        <li><i class="fal fa-calendar"></i>03.12.2015</li>
                        <li><i class="fal fa-comment"></i>12</li>
                    </ul>
                </div>
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
        <div class="grid align-center-middle view-all-news">
            <a>مشاهده تمامی اخبار</a>
        </div>
    </div>
</section>
<section class="wrapper business parallax grid-y align-center-middle">
    <div id="wrapper-box" class="container grid-x align-center-middle" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div id="card">
            <div id="front">
                <div id="top-pic"></div>
                <div id="avatar" class="grid align-center-middle">
                    <img src="/img/unknown-employee.jpg">
                </div>
                <div id="info-box">
                    <div class="info">
                        <h3>مسعود خانی</h3>
                        <h4>مدیرعامل</h4>
                        <small>طراح و برنامه نویس سایت و موبایل</small>
                    </div>
                </div>
                <div id="social-bar"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-github"> </i></a>
                    <a href="#" target="_blank"><i class="fab fa-codepen"> </i></a>
                    <a class="more-info" href="javascript:void"><i class="fa fa-user"></i></a></div>
            </div>
        </div>
        <div id="card">
            <div id="front">
                <div id="top-pic"></div>
                <div id="avatar" class="grid align-center-middle">
                    <img src="/img/IMG_6456.jpg">
                </div>
                <div id="info-box">
                    <div class="info">
                        <h3>حسین اکبری</h3>
                        <h4>مدیر اجرایی</h4>
                        <small>طراح و برنامه نویس سایت و موبایل</small>
                    </div>
                </div>
                <div id="social-bar"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-github"> </i></a>
                    <a href="#" target="_blank"><i class="fab fa-codepen"> </i></a>
                    <a class="more-info" href="javascript:void"><i class="fa fa-user"></i></a></div>
            </div>
        </div>
    </div>
</section> %>
<%- include(viewPath('home/layout/footer')) %>
<script src="/plugin/home/owlcarousel/owl.carousel.min.js"></script>
<script src="/plugin/home/owlcarousel/owl.carousel.run.js"></script>