<%- include(viewPath('home/layout/header')) %>
<section class="seo-page w100 grid-y">
  <div class="header-slider w100">
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2>SEO</h2>
      </div>
    </div>
  </div>
  <div class="about-seo w100 grid align-center-middle wrapper">
    <div class="container">
      <div class="grid-x align-around">
        <div class="item grid-x-no">
        <div>
          <img src="/img/seo-icons/hp2-service-icon-1.png" alt="">
        </div>
        <div class="content">
          <h4>تحلیل و تجزیه Big Data</h4>
          <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
              و پیاده سازی کنیم.
          </p>
        </div>
        </div>
        <div class="item grid-x-no">
          <div>
            <img src="/img/seo-icons/hp2-service-icon-2.png" alt="">
          </div>
          <div class="content">
            <h4>SEO برای موبایل</h4>
            <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                و پیاده سازی کنیم.
            </p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div>
            <img src="/img/seo-icons/hp2-service-icon-3.png" alt="">
          </div>
          <div class="content">
            <h4>نظارت بر شبکه های اجتماعی</h4>
            <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                و پیاده سازی کنیم.
            </p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div>
            <img src="/img/seo-icons/hp2-service-icon-4.png" alt="">
          </div>
          <div class="content">
            <h4>استفاده از بهترین کلمات کلیدی</h4>
            <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                و پیاده سازی کنیم.
            </p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div>
            <img src="/img/seo-icons/hp2-service-icon-5.png" alt="">
          </div>
          <div class="content">
            <h4>بهترین تبدیل</h4>
            <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                و پیاده سازی کنیم.
            </p>
          </div>
        </div>
        <div class="item grid-x-no">
          <div>
            <img src="/img/seo-icons/hp2-service-icon-6.png" alt="">
          </div>
          <div class="content">
            <h4>بهینه سازی سرعت</h4>
            <p>وظیفه ما این است که وب سایت های مشتریان خود را متناسب با امکانات مورد نیاز و همچنین سلیقه آنان طراحی
                و پیاده سازی کنیم.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax para1">

  </div>
  <div class="seo-desc wrapper grid align-center">
    <div class="container">
      <div class="wrap w100 grid-x">
        <div class="decription pl-5 grid-y">
          <h4 class="mb-1">سئو چیست ؟</h4>
          <P>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
            روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
            ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
            با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در
            این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </P>
        </div>
        <div class="image">
          <img src="/img/seo-assesment-2-2.png" alt="SEO">
        </div>
      </div>
    </div>
  </div>
  <div class="border grid align-center">
    <div class="container"></div>
  </div>
  <div class="seo-desc wrapper grid align-center">
    <div class="container">
      <div class="wrap w100 grid-x">
        <div class="image">
          <img src="/img/seo-assesment-2-2.png" alt="SEO">
        </div>
        <div class="decription pr-5 grid-y">
          <h4 class="mb-1">سئو چیست ؟</h4>
          <P>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
            روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
            ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
            با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در
            این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </P>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include(viewPath('home/layout/footer')) %>