
<link rel="stylesheet" href="/plugin/Hoverbox/css/set1.css">
<%- include(viewPath('home/layout/header')) %>

<section class="seo-page w100 grid-y">
  <div class="header-slider w100" style="background-image: url('./../img/blog.jpg')">
    <div class="overlay grid align-center-middle">
      <div class="container">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
<section class="wrapper grid grid-y align-center-middle">
  <h3 >دسته بندی وبلاگ</h3>
  <span class="title"></span>
  <br>
    <div class="container grid-x align-center-middle">
    
        <figure class="effect-layla">
            <img src="/img/sample-card.jpg" alt="img06"/>
            <figcaption class="grid align-center-middle">
                <h2>خبرنامه سایت</h2>
                <a href="#">View more</a>
            </figcaption>			
        </figure>
        <figure class="effect-layla">
        <img src="/img/sample-card.jpg" alt="img06"/>
        <figcaption class="grid align-center-middle">
            <h2>خبرنامه سایت</h2>
            <a href="#">View more</a>
        </figcaption>			
    </figure>
    <figure class="effect-layla">
    <img src="/img/sample-card.jpg" alt="img06"/>
    <figcaption class="grid align-center-middle">
        <h2>خبرنامه سایت</h2>
        <a href="#">View more</a>
    </figcaption>			
</figure>
        

</div>
</section>

<%- include(viewPath('home/layout/footer')) %>